SERVER_PORT=8080
SPRING_PROFILES_ACTIVE=prod

DB_URL=jdbc:postgresql://postgres:5432/coregate
DB_USERNAME=coregate
DB_PASSWORD=coregate

ALLOWED_ORIGINS=http://localhost:3000
ADMIN_USERNAME=sanglv
ADMIN_PASSWORD=Sanglv@123

VNPAY_TMN_CODE=OREDTEST
VNPAY_HASH_SECRET=HCDEW5K3A4PLRDZIIYJX5RN3VTZ0ASF7
VNPAY_PAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://localhost:3000/payment-callback
VNPAY_IPN_URL=http://localhost:8080/api/webhooks/vnpay
VNPAY_TIMEZONE=Asia/Ho_Chi_Minh

DOWNLOAD_PUBLIC_BASE_URL=http://localhost:8080
DOWNLOAD_HOST_DIR=D:/coregate-products
DOWNLOAD_STORAGE_DIR=/app/products

MAIL_ENABLED=false
MAIL_FROM=no-reply@coregate.local
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS=true
